.SearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SearchForm {
  display: flex;
  flex-direction: column;
}

.LocationInput {
  box-sizing: border-box;
  background-color: #071022;
  color: lightgray;
  margin-top: -10px;
  border: 2px solid lightgray;
  padding: 8px;
  border-radius: 20px;
  width: 250px;
  text-align: center;
}

.SubmitButton {
  margin: 20px;
  background-color: lightgray;
  box-sizing: border-box;
  border: 2px solid lightgray;
  padding: 5px;
  border-radius: 15px;
  font-size: 17px;
  align-self: center;
  width: 75px;
}

.SubmitButton:hover {
  background-color: #071022;
  color: lightgray;
  box-shadow: 0 0 5px lightgray;
  /* transition-duration: 0.25s; */
  transition: ease-out all 0.25s;
}