body {
  background-color: #071022;
}

/* .App {
  display: grid;
  justify-items: center;
  grid: 
    ". header ." 100px
    ". search ." 100px
    ". list ." 100px
    / 1fr 1fr 1fr;
}

.Header {
  grid-area: header;
  background-color: blue;
}

.SearchBar {
  grid-area: search;
  background-color: green;
}

.CafeList {
  grid-area: list;
  background-color: red;
} */

